<!DOCTYPE html>
<html>
<head>
  <title>Resume2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<a href="/users/sign_out" data-method="delete" rel="nofollow"><button type="button" class="btn btn-danger">Log Out</button></a>
</body>
</html>
